@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a record of different Adventures!</h1>
    <p>Users have left reviews about different places they've visited and explored.</p>
    <p>To see reviews or write a review of your own, check out the site.</p>
    <a href="/Places">Check out user reviews</a>
</div>
