<h1>Create New Review</h1>

<form action="/places/create" method="post">
  <label for="name">Place Name:</label>
  <input id="name" name="name" type="text">
  <label for="country">Country:</label>
  <input id="country" name="country" type="text">
  <label for="userName">User:</label>
  <input id="userName" name="userName" type="text">
  <label for="rating">Rating:</label>
  <input id="rating" name="rating" type="text">
  <label for="description">Description:</label>
  <input id="description" name="description" type="text">
  <button type="submit">Save</button>
</form>



