@using ExplorationClient.Models;


<h1>Create New Review</h1>
 <a href="/Places/Create/">Create New Review</a>
 <br/>

<h1>All Reviews:</h1>

<ol>
@foreach(Place place in Model)
{
  <ul>
    <li>Country: @place.Country</li>
    <li>Place Name: @place.Name</li>
  </ul>
  <a href="/Places/Details/@(place.PlaceId)"><p>View Details</p></a>
  <br/>
}
</ol>


