<h1>All Reviews:</h1>

<ol>
@foreach(Place place in Model)
{
  <ul>
    <li>Country: @place.Country</li>
    <li>Place Name: @place.Name</li>
  </ul>
  <a href="/Places/@(place.PlaceId)"><p>View Details</p></a>
  <br/>
}
</ol>